.about-main {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #dde2eb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hello {
  margin-left: 5vw;
  font-size: 35px;
  font-weight: 500;
}

.hero-heading {
  margin-left: 5vw;
  font-size: 80px;
  font-weight: 600;
}

.hero-typical {
  margin-left: 5vw;
  font-size: large;
  font-weight: 500;
}

.socials {
  margin-left: 5vw;
  display: flex;
  gap: 10px;
}

.name {
  color: rgb(92, 92, 228);
  font-size: 80px;
  font-weight: 600;
}

.icon:hover {
  color: rgb(92, 92, 228);
}

.about-container {
  @media (min-width: 600px) {
    margin-top: 70px;
  }

  @media (max-width: 600px) {
    margin-top: 64px;
  }
}




.code-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  opacity: 0.05;
  font-family: monospace;
  font-size: 2rem;
  color: rgb(92, 92, 228);
  background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      rgba(92, 92, 228, 0.05) 10px,
      rgba(92, 92, 228, 0.05) 20px);
}



.about-main::before {
  content: "< />  { }  ()  < />  ()  { }  ()  < />  { }  ()  < />  ()  { }  ()";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: rgb(92, 92, 228);
  opacity: 0.06;
  white-space: normal;
  line-height: 3;
  text-align: center;
  pointer-events: none;
  z-index: 0;
  animation: floatSymbols 20s infinite ease-in-out alternate;
  mix-blend-mode: multiply;
}

@keyframes floatSymbols {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -55%) scale(1.03) rotate(2deg);
  }

  100% {
    transform: translate(-50%, -45%) scale(0.97) rotate(-2deg);
  }
}