.footer-main{
    position: relative;
    backdrop-filter: blur(20px);
    background: rgba(92, 92, 228, 0.6);
    height: auto;
    color: #ffff;
    bottom: 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    margin: 20px;
    align-items: center;
}
.footer-icons{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    padding: 10px;
}
a { 
    color: inherit; 
} 
