@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --font-sans: "Roboto Mono", monospace;

  --font-mono: "Roboto Mono", monospace;
}

.hero-heading {
  font-size: xx-large;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
}

h1, h2, h3, .hero-heading {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
}

h4, h5, h6, .hero-heading {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
}

p, span, .hero-subtext {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
